@import "../../styles/font-size.scss";
@import "../../styles/colors.scss";

.cursor-default:hover{
    cursor: default;
}
.fs-7 {
    font-size: $fs-7;
}
.fs-8{
    font-size: $fs-8;
}
.text-color-1{
    color: $color_1;
}
.text-color-2{
    color: $color_2;
}
.text-color-3{
    color: $color_3;
}
.text-color-5{
    color: $color_5;
}
.text-color-6{
    color: $color_6;
}