.hush-puppies-logo-size{
    width: 50px;
    padding: 0;
}
.hush-puppies-name-size{
    width: 230px;
    height: 30px;
    padding: 0
}
.item-detail-preview-size{
    width: 40.3vw;
    height: 32.24vw;
}
.items-detail-preview-size{
    width: 3.72vw;
    height: 3.72vw;
}
.items-detail-preview-size-2{
    width: 4.96vw;
    height: 4.96vw;
}
.cursor-pointer:hover{
    cursor: pointer;
}
.slider-preview-size-1{
    width: 13.02vw;
    height: 10.85vw;
}
.slider-preview-size-2{
    width: 3.72vw;
    height: 3.1vw;
}
.footer-companies-size{
    width: 70vw;
}