.hush-puppies-logo-size{
    width: 50px;
    padding: 0;
}
.hush-puppies-name-size{
    width: 230px;
    height: 30px;
    padding: 0
}
.item-detail-preview-size{
    width: 600px;
    height: 500px;
}
.items-detail-preview-size{
    width: 50px;
    height: 50px;
}
.items-detail-preview-size-2{
    width: 80px;
    height: 80px;
}
.cursor-pointer:hover{
    cursor: pointer;
}